{% extends 'base.html' %}

{% block content%}
<br>

<hr/>
<!--<center>-->


<div class = "row">

  <div class="col-lg-3 mx-auto">

  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    The current link item
  </a>
  <a href="upload" class="list-group-item list-group-item-action">Generate ECL</a>
  <a href="view_report" class="list-group-item list-group-item-action">View ECL Report</a>
  <!--<a href="#" class="list-group-item list-group-item-action">A fourth link item</a>-->
  <!--<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>-->
</div>

  </div>

  <div class="col-lg-9 mx-auto">
    <style>body {font-family: Arial, sans-serif;}</style>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <!--<form method="post">-->
  <!--{% csrf_token %}-->
    <h3>Please select date</h3>
<form action="flag_check" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input id="datepicker"  name="date" autocomplete="off" required >
  <!--<input type="submit" value="Submit">-->
<!--</form>-->


  <script>
    $(function () {
      $("#datepicker").datepicker( {
    format: "mm-yyyy",
    startView: "months",
    minViewMode: "months"
});
    });
  </script>

  <!--</form>-->
    <br><br>
<!--<form method="post" enctype="multipart/form-data" >-->
    {% csrf_token %}
  <!--<strong>MEV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</strong>: <input type="file" name="myfile" value="File" required><br>-->
  <!--<strong>MEV Sce&nbsp;&nbsp;&nbsp;&nbsp;</strong>: <input type="file" name="myfile1" value="File" required><br>-->
  <!--<strong>Micro Pairs</strong>: <input type="file" name="myfile3" value="File" required><br>-->
  <!--<strong>Other Input  </strong>: <input type="file" name="myfile4" value="File" required><br>-->
  <!--<strong>LGD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </strong>: <input type="file" name="myfile4" value="File" required><br><br>-->
    <br><button class="text-wrap border text-white shadow-lg btn btn-secondary" type="submit">Next &rarr;</button>
  </form>

    </div>
</div>

<!--<style>body {font-family: Arial, sans-serif;}</style>-->

  <!--&lt;!&ndash; jQuery &ndash;&gt;-->
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

  <!--&lt;!&ndash; Fengyuan Chen's Datepicker &ndash;&gt;-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>-->

    <!--&lt;!&ndash;<form method="post">&ndash;&gt;-->
  <!--&lt;!&ndash;{% csrf_token %}&ndash;&gt;-->
    <!--<h3>Please select date</h3>-->
<!--<form action="" method="post">-->
  <!--{% csrf_token %}-->
  <!--<input id="datepicker"  name="date" >-->
  <!--&lt;!&ndash;<input type="submit" value="Submit">&ndash;&gt;-->
<!--</form>-->


  <script>
    $(function () {
      $("#datepicker").datepicker( {
    format: "mm-yyyy",
    startView: "months",
    minViewMode: "months"
});
    });
  </script>

  <!--</form>-->


<!--<br>-->
<!--<form method="post" enctype="multipart/form-data">-->
    <!--{% csrf_token %}-->
    <!--<input type="file" name="myfile">-->
    <!--<button type="submit">Upload</button>-->
  <!--</form>-->

{% endblock %}